body {
    padding-top: 60px;
}

#new-question textarea {
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: #A9BCF5;
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin-left: auto;
    margin-right: auto;
}

#new-question {
    margin-left: auto;
    margin-right: auto;
}

.question-like {
    width: 10px;
}

#paddBottom {
    padding-bottom: 20px;
    margin-bottom: 50px;
}

#tableContent {
    width: 100%;
    border-style:solid;
    border-width:5px;
    
    margin-bottom: 20px;
}

.commentContent {
    border-style:solid;
    border-width:3px;
    
    margin-left: 50px;
}

